.auth {
  margin: 0 auto;
  max-width: 1300px;
}

.auth__container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 396px;
  padding-top: 70px;
}

.auth__title {
  padding: 40px 0;
  font-family: Raleway;
  font-size: 25px;
  font-weight: 900;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
}

.auth__form {
  display: flex;
  flex-direction: column;
}

.auth__label {
  /* border-bottom: 1px solid #424242; */
  color: #8b8b8b;
  display: flex;
  flex-direction: column;
  font-size: 10px;
  font-weight: 400;
  gap: 10px;
  line-height: 12px;
  padding-bottom: 10px;
  padding-top: 14px;
}

.auth__input {
  padding: 0;
  padding-bottom: 10px;
  outline: none;
  border: none;
  border-bottom: 1px solid #212526;
  background-color: initial;
  color: black;
  font-size: 16px;
  font-weight: 500;
  line-height: 17px;
}

.auth__input:focus {
  border-color: #f05a00;
}

.auth__error {
  color: #ee3465;
  font-size: 11px;
  font-weight: 500;
  line-height: 13px;
  opacity: 0;
}

.auth__error {
  opacity: 1;
}

.auth__flex-box {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 180px;
}

.auth__button {
  background-color: #212526;
  border: none;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  height: 45px;
  line-height: 17px;
  width: 396px;
}

.auth__button_disabled {
  background-color: grey;
  cursor: auto;
  pointer-events: none;
}

.auth__button:hover {
  opacity: 0.8;
}

.auth__text {
  color: #8a8a8a;
  display: flex;
  font-size: 15px;
  font-weight: 400;
  gap: 6px;
  justify-content: center;
  line-height: 17px;
  margin: 0;
  padding-bottom: 30px;
  padding-top: 16px;
}

.auth__link {
  color: black;
  font-size: 15px;
  font-weight: 400;
  line-height: 17px;
  text-decoration: none;
}

.auth__link:hover {
  opacity: 0.7;
}

@media screen and (max-width: 500px) {
  .auth__container {
    align-items: center;
    padding: 90px 30px 0;
  }
  .auth__form {
    width: 100%;
  }
  .auth__button {
    font-size: 14px;
    line-height: 15px;
    width: 100%;
  }
  .auth__text {
    font-size: 13px;
    line-height: 15px;
  }
  .auth__link {
    font-size: 13px;
    line-height: 15px;
  }
}
