.products {
  max-width: 1300px;
  margin: 0 auto;
  padding: 50px 30px;
  /* padding-top: 50px; */
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.products__title {
  font-family: Prosto One;
  font-size: 30px;
  font-weight: 400;
  line-height: 48px;
  letter-spacing: 0em;
}

.products__flex-box {
  display: flex;
  align-items: center;
  gap: 50px;
}

.products__createBtn {
  padding: 10px 32px;
  font-family: Raleway;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  border: none;
  border-radius: 5px;
  color: #fff;
  background-color: #f05a00;
  cursor: pointer;
  transition: opacity 0.2s;
}

.products__createBtn:hover {
  opacity: 0.7;
}

.products__content {
  display: flex;
  align-items: flex-start;
  gap: 25px;
}

.products__list {
  display: grid;
  gap: 32px 20px;
  grid-template-columns: repeat(4, minmax(0, 300px));
  justify-content: center;
  list-style: none;
  padding-bottom: 30px;
}

@media screen and (max-width: 1300px) {
  .products__list {
    /* gap: 10px 20px; */
    gap: calc((100vw - 1039px)/(1300px - 1039) * (32 - 20) + 20px) calc((100vw - 1039px)/(1300px - 1039) * (20 - 10) + 10px);
  }
}

@media screen and (max-width: 1039px) {
  .products__list {
    grid-template-columns: repeat(3, minmax(0, 300px));
    /* gap: 10px 20px; */
    /* gap: calc((100vw - 1034px)/(1039px - 320) * (30 - 14) + 14px); */
  }
}

@media screen and (max-width: 900px) {
  .products__list {
    grid-template-columns: repeat(2, minmax(0, 300px));
  }
}

@media screen and (max-width: 768px) {
  .products__content {
    flex-direction: column;
    align-items: center;
  }
}