.form__file {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  left: 0px;
}

.form__file-label {
  width: 156px;
  height: 40px;
  background-color: initial;
  color: #fff;
  font-size: 1.125rem;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  border: 1px solid #f05a00;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.10000000149011612px;
}

.form__file-label:hover {
  opacity: 0.8;
}

.form__file-button-text {
  color: #f05a00;
  line-height: 1;
  margin-top: 1px;
  cursor: pointer;
  align-self: center;
}
