.basket__card-item {
  padding: 15px 40px;
  gap: 9px;
  background-color: #fff;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr 1fr 1fr 1fr;
  grid-template-areas: 'img cardName price counter totalPrice deleteBtn';
  align-items: center;
  box-shadow: 0px -10px 20px 0px rgba(0, 0, 0, 0.03), 0px 10px 20px 0px rgba(0, 0, 0, 0.03);
}

.basket__flex-box {
  display: flex;
  align-items: center;
}

.basket__flex-box_name-item {
  display: flex;
  flex-direction: column;
  grid-area: cardName;
}

.basket__card-price {
  justify-self: center;
  grid-area: price;
}

.basket__total-price {
  justify-self: center;
  grid-area: totalPrice;
}

.basket__card-image {
  width: 60px;
  height: 60px;
  object-fit: cover;
}

.basket__count-box {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-self: center;
  grid-area: counter;
}

.basket__card-minus-btn {
  background: url('../../../images/basket__card-minus.svg') no-repeat center;
  width: 14px;
  height: 14px;
  border: none;
  cursor: pointer;
}

.basket__card-plus-btn {
  background: url('../../../images/basket__card-plus.svg') no-repeat center;
  width: 14px;
  height: 14px;
  border: none;
  cursor: pointer;
}

.basket__card-delete-btn {
  background: url('../../../images/basket__card-delete-btn.svg') no-repeat center;
  width: 12px;
  height: 12px;
  border: none;
  cursor: pointer;
  justify-self: end;
  grid-area: deleteBtn;
}

.basket__card-delete-btn:hover {
  opacity: 0.8;
}

@media screen and (max-width: 700px) {
  .basket__card-item {
    grid-template-columns: auto minmax(0%, 1fr) auto;
    grid-template-rows: auto;
    grid-template-areas:
      'img cardName deleteBtn'
      'counter totalPrice totalPrice'
      'price totalPrice totalPrice';
  }

  .basket__total-price {
    align-self: end;
    justify-self: end;
  }

  .basket__card-delete-btn {
    text-align: center;
  }

  .basket__card-image {
    width: 80px;
    height: 80px;
  }

  .basket__box-fd-column {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
}
