.sidebar {
  min-width: 270px;
}

.sidebar__list {
  max-width: 310px;
  list-style: none;
  background-color: #212526;
}

@media screen and (max-width: 900px) {
  .sidebar__list {
    max-width: 250px;
  }
}
