.footer__links-list_admin {
  gap: 40px;
  display: flex;
  align-items: center;
  list-style: none;
  padding-top: 30px;
  padding-bottom: 30px;
}
.footer-admin__createdBy {
  font-size: 20px;
}

@media screen and (max-width: 600px) {
  .footer-admin__createdBy {
    font-size: 15px;
  }
  .footer__links-list_admin {
    gap: 30px;
  }
}

@media screen and (max-width: 425px) {
  .footer__links-list_admin {
    gap: 10px;
  }
}
