.sidebar__item {
  padding: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Raleway;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #fff;
  border-bottom: 1px solid #3b3b3b;
  background-image: url('../../../images/arrow-left.svg');
  background-repeat: no-repeat;
  background-position: center right 10px;
  cursor: pointer;
}

.sidebar__item:last-of-type {
  border: none;
}

.sidebar__item:hover {
  background-color: #f05a00;
}